{% extends "base.html" %}
{% block title %}زیادکردنی ڕیل{% endblock %}
{% block content %}
<div class="row justify-content-center"><div class="col-md-6"><div class="card shadow"><div class="card-body">
<h3>زیادکردنی ڕیل</h3>
<form method="POST" enctype="multipart/form-data">
    <input type="file" name="video" class="form-control mb-3">
    <input name="caption" class="form-control mb-3" placeholder="وەسف">
    <button class="btn btn-primary w-100">بڵاوکردنەوە</button>
</form>
</div></div></div></div>
{% endblock %}
